<div class="form-unit">
  <form method="post" action="/mountains">
    <input type="text" name="mountain[name]" placeholder="Mountain Name" autofocus>
    <input type="text" name="mountain[image]" placeholder="Paste Mountain Image URL">
    <input type="text" name="mountain[country" placeholder="Mountain Country">
    <input type="text" name="mountain[height]" placeholder="Mountain Height in Metres">
    <br/>
    <button>Mountain me!</button>
</form>
</div>
