@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

* {
  padding: 0;
  margin: 0;
}


a{

color: #444;

}
section {

  margin: 10px;
  border: 2px dashed #444;
}


section {
/*border:  1px dashed #ccc;*/
padding: 20px;
margin: 25px;

}

.input-data {
padding: 8px;
margin: 5px;

}

footer {

  color: #555;
  font-weight: normal;
  font-size: 16px;
  padding: 30px;
}

img{
border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;

border-radius: 6px;

width: 500px;
bo
}

div.mainwilly {
  margin: auto;
  width: 900px;
  padding: 20px;
  text-align: center;
  background: rgb(243,197,189); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzYzViZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iI2U4NmM1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2VhMjgwMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2ZmNjYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzIyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(243,197,189,1) 0%, rgba(232,108,87,1) 36%, rgba(234,40,3,1) 49%, rgba(255,102,0,1) 63%, rgba(199,34,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(36%,rgba(232,108,87,1)), color-stop(49%,rgba(234,40,3,1)), color-stop(63%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 36%,rgba(234,40,3,1) 49%,rgba(255,102,0,1) 63%,rgba(199,34,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 36%,rgba(234,40,3,1) 49%,rgba(255,102,0,1) 63%,rgba(199,34,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 36%,rgba(234,40,3,1) 49%,rgba(255,102,0,1) 63%,rgba(199,34,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 36%,rgba(234,40,3,1) 49%,rgba(255,102,0,1) 63%,rgba(199,34,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-8 */

}



div.hero-unit {
  width: 600px;
  text-align: center;
  padding: 60px;
  margin-bottom: 30px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
padding: 20px;
margin: auto;
}

ul li {
  list-style: none;
  padding: 20px;
  border-radius: 3px;
  background-color: #eeeeee;;
  display: inline-block;
  width: 180px;
  font-size: 24px;
  font-weight: bold;

}

a.hover:ul li {
  list-style: none;
  padding: 20px;
  border-radius: 3px;
  background-color: orange;
}




button {

  padding: 9px;
  border-radius: 3px;
  border: none;
  background: rgb(254,187,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */

  display: inline-block;
  width: 200px;
  font-size: 21px;
  font-weight: bold;
  color: #fff;

}

button2 {

  padding: 14px;
  border-radius: 3px;
  border: none;
  background: rgb(254,187,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */

  display: inline-block;
  width: 200px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;

}


div.style3{

  display: block;
  width: 200px;
  height:200px;
}



body {
  background: url(http://www.poweranimalsunleashed.com/images/forest-light-900.jpg) top center repeat;


  background-color: #444;
  color: white;

  font-family: 'Pathway Gothic One', sans-serif;
}

div.hero-unit {
  background-color: black;
  width: 700px;
  text-align: center;
}

button.btn.btn-danger {

  width: 150px;
  padding: 10px ;
}

footer {
text-align: center;

}


div.form-unit {
  float: center;
  padding: 10px;
  text-align: center;
  width: 400px;
  margin: auto;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #ccc;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

}



btn.btn-success {
  width: 150px;
  width: 130px !important;
  padding: 10px !important;
  color: #fff !important;
  margin: 0 0 5px 0;
}



